<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TaskList Data</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.HDCreators.TaskList.TaskListData</string>
			</array>
			<key>LSRankHandler</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTExportedTypeDeclarations</key>
			<array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string></string>
					</array>
					<key>UTTypeIdentifier</key>
					<string></string>
					<key>UTTypeTagSpecification</key>
					<dict/>
				</dict>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TaskList Data</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.HDCreators.TaskList.TaskListData</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>data</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
